<h1>Favorite Pets</h1>

<% if @favorites.total_count == 0 %>
  <p>You have no pets!</p>
<% else %>
  <% @favs.each do |pet| %>
    <%= link_to pet.name, "pets/#{pet.id}" %>
    <%= pet.image %>
  <% end %>
<% end %>
