<h1>New Adoption</h1>

<%= form_tag '/adoptions', method: :post do %>
  <h2>Favorited Pets</h2>
  <% @favorite_pets.each do |pet| %>
    <%= label_tag pet.name %>
    <%= check_box_tag pet.name %><br>
  <% end %>

  <%= submit_tag 'Submit Application' %>
<% end %>
